.drag-file-3d {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
  }

  .drag_p{
    font-size: 1rem;
    color: black;
  }

  .filename{
    padding-bottom: 20px;

  }
  
  .dropzone:hover {
    background-color: #f0f0f0;
  }
  
  .icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  aside {
    margin-top: 20px;
    color: black;
  }
  
  @media (max-width: 768px) {
    .drag-file-3d {
      padding: 10px;
    }
  
    .dropzone {
      height: 150px;
    }
    .icon{
      padding-top: 2rem;
    }
    
  
    .icon {
      font-size: 36px;
    }
    .drag_p{
      font-size: 0.8rem;
      text-align: center;
    }
  }
  