.footer {
    background-color: #0C1017;
    color: #fff;
    padding: 3rem;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  }
  
 
  .footer__section h3 {
    margin-bottom: 0.5rem;
  }
  
  .footer__section h6 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }
  
  .footer__section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer__section ul li {
    margin-bottom: 0.5rem;
    font-size: 15px;
  }
  
  .footer__section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social li a {
    font-size: 15px;
  }
  
  .social li {
    padding-bottom: 1rem;
  }
  
  .footer__copy {
    width: 100%;
    padding-top: 3rem;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .footer__section {
      flex: 1 0 100%;
      margin-bottom: 40px;
    }
  }
  